*.json
!agent/agent-config.json
!front-ui/src/locales/**/*.json
!**/testdata/**/*.json
!front-ui/e2e/**/*.json
.env
publisher.env
*.log
*.exe
*.gz
*.py
storage/*
docker/.env
tools/seeder/*
*.xls
*.pdf
*.html
